@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* design for home page */
h1.teams{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 100px;
    font-weight: bold;
}
h2.searchQ{
    font-size: 30px;
    font-weight: bold;
}
.red{
    font-weight: bold;
    color: red;
    text-align: center;
    background-color: black;
    font-size: 50px;
}
.input-group{
    text-align: center
}
.query{
    text-align: center;
}
h3.titles{
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
    text-decoration: underline;
}
/* design for buttons */
@layer components {
    .btn-link {
        @apply inline-block px-4 py-2 bg-indigo-700 rounded-md font-bold text-sm text-white uppercase;
    }
    .btn-lg {
        @apply px-6 py-3;
    }
    .btn {
        @apply px-4 py-2 rounded-md font-bold text-sm text-white uppercase tracking-widest focus:ring;
    }
    .btn-danger {
        @apply bg-red-600 hover:bg-red-700 active:bg-red-700 ring-red-300;
    }
}