@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* design for home page */
h1.teams{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 100px;
    font-weight: bold;
}
/* design for buttons */
